@import "header.css";
@import "center_menu.css";
@import "right_menu.css";
@import "slider.css";
@import "gallery.css";
@import "contact-block.css";
@import "receipt-page.css";
/*main settings*/

body {
	margin:0px;
	font-family: georgia,"times new roman",times,serif;
}

.clearfix {
	clear: both;
}

.appear-block {
    display: block;
    opacity: 1;
    transform: scaleY(1);
}




/*slider*/
/*@media screen and (max-width: 685px){
	.container{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%; 
	}	
	
	label span { font-size: 50pt; }
	
	.prev, .next{
		width: 15%;
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}*/
/*footer*/
.footer {
	width :100%;
	height: 30px;
	background-color: #ea5a15;
	padding-top: 10px;
    color: white;
    text-align: center;
}

.hamburger {
    width: 40px;
    height: 40px;    
    border-radius: 10px;
    display: none;
    flex-direction: column; 
    justify-content: center;
    position: relative; 
}

.hamburger span {
    width: 40px;
    height: 5px;
    background: white;
    display: block;
    border-radius: 3px;
    position: absolute;
    
}

.hamburger .first-span {
    top: 5px;
} 

.hamburger .second-span {
    top: 15px;
}

.hamburger .third-span {
    top: 25px;
} 



@media (min-width: 768px){
    .menu > li:hover .submenu {
        opacity: 1;
        transform: scaleY(1);
    }

}


@media (max-width: 1225px) {
    .header-fixed .section {
        width: 100%;
    }

    .header .section {
        width: 100%;
    }

    #header .section {
        width: 100%;
    }

    .block-search {    
        right: 250px;

    }

    .main-wrapper {
        width: 100%;
    }

    #receipts-list {
        margin-right:10px;
        margin-left:10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .right-block {
        position: fixed;
        top: 5px;
        z-index: 12;
        right: 0;

    }

    .right-block #login {
        background-color: transparent;
    }

    #sign-up {
        color: white;
        font-weight: normal;
        width: 80px;
    } 



}

@media (max-width:1125px){

    .hamburger {
        display: flex;
    }

    #menu-change:checked ~ div {     
        display: flex; 
    }   

    #menu-change:not(:checked) ~ div {
        display: none; 
    }

    .top-menu .menu {
        width: 100px;      
    }

    .top-menu .block-menu .menu li {
        float: none;
        background-color: rgba(88, 88, 89, 1);
        padding-left: 10px;
        width: 130px;
        border-bottom: 1px solid rgba(255,255,255,.1);
        position: relative;
    }
    .down-burger {
        color: white;
        position: absolute;
        right: 10px;
    }

    .top-menu .block-menu .menu li a {
        color: #ea5a15;
    }

    .top-menu .block-menu .menu {
        position: absolute;
        top: 45px;
        left: 120px;
    }

    .top-menu .submenu {
        left: 135px;
        background: none;
    }
}

@media (max-width: 768px){
    #big-search-wrapper {
        right: 45px;
    }

    #search-block {
       width: 200px; 
    }    

    .small-search {
        display : block;
        position: absolute;
        right: 20px;
    }

    .down-burger {
        color: white;
    }

    .page .menu {
        display: none;
    }
    
    
    .slider{
        border: none;
        width: 100%;
        height: 0;
        padding-bottom: 55%; 
    }

    .slider label span {
        top: 33%;
    }

    .slider label span { 
        font-size: 70pt; 
    }
}

@media (max-width: 500px) {
    #small-logo{
        display: none;    
    }
    .hamburger {
        margin-left: 10px;
        margin-top: 10px;
    }

    .top-menu .block-menu .menu {
        position: absolute;
        left: -25px;
    }

    .small-search {
        right: -30px;
    }

    #big-search-wrapper {
        right: 0px;
    }

    #search-block {
        width: 100px;
    }

}
